
@import "libs/mixins.scss";
@import "libs/responsive.scss";

body {
   @include bgBaseColorSaturation(0%);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

main{ 
   height: 700px;
   padding: 50px;
   padding-bottom: 0%;
   margin: auto;
   @include bgBaseColorSaturation(0%);
   @include flexionCol();
   @media #{$ecran-moyen}{
      padding: 20px;
   }
   @media #{$ecran-petit}{
      padding: 5px;
      height: auto;

    }
}
header{
   @include flexionCol();
}
/*Gérons les h1 h2 et h3*/
@for $i from 1 through 3{
  h#{$i}{
   font-size: (4 - $i)*1em;
   margin: 0;
   padding: 5px;
   text-align: center;
   
   @include tcBaseColorLuminosity(5*$i*1%);
  }

} 
section{
   
   padding: 5%;
   padding-top: 1%;
   padding-bottom: 1%;
   @include flexcenter();
   height: 60%;
   @media #{$ecran-moyen}{
      padding: 1%;
      height: 65%;
   }
   @media #{$ecran-petit}{
      padding: 0;
      height: auto;

    }

}

.appblock{
   @include flexionCol();
   border-radius: 15px;
   height: 80%;
   width: 70%;
   min-width: 600px;
   @include bgBaseColorSaturation(50%);
   padding: 15px;
   color: whitesmoke;
   @media #{$ecran-moyen}{
      min-width: auto;
      width: 100%;;
      margin: 5px auto;
      padding: 2px;
      padding-top: 3%;
      padding-bottom: 3%;
   }
   @media #{$ecran-petit}{
      height: auto;

    }
   &__messagedechoix{
      max-width: 80%;
      text-align: center;
      font-size: 1.2em;
      color: whitesmoke;
   }
   &__zoneBtnRadio{
      @include bgBaseColorSaturation(40%);
      width: 70%;
      display: flex;
      justify-content: space-between;
      @media #{$ecran-petit}{
         @include flexionCol();
         width: 99%;
         height: 50px;
         font-size: 80%
   
       }
      &--row{
         @media #{$ecran-petit}{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 70px;
            width: 70px;
            height: 50px;
         
          }
      }
      
   }
   &__zoneMot{
      width: 90%;
      margin: 5px 2%;
      height: 70px;
      border-radius: 15px;
      font-size: 2em;
      font-weight: bold;
      @include bgBaseColorSaturation(0%);
      @include flexcenter();
      @include tcBaseColorLuminosity(20%);
      @media #{$ecran-petit}{
         padding: 0;
         height: 50px;
         font-size: 1.2em;
   
       }
      
      
   }
   &__zoneSaisieUtilisateur{
      @media #{$ecran-petit}{
         @include flexionCol();
         height: auto;
         min-height: 50px;

      }
      width: 90%;
      margin: 5px 2%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      @include tcBaseColorLuminosity(20%);
      input{
         width:70%;
         border-radius: 10px;
         border: 2px ridge skyblue;
         @include bgBaseColorSaturation(10%);
         @include tcBaseColorLuminosity(1%);
         font-size: 1.3em;
         @media #{$ecran-petit}{
            width: 100%;
            height: 35px;
    
          }
         &::placeholder{
            @include tcBaseColorLuminosity(10%);
         }
        
       }
      }
      button{
         width: 25%;
         border-radius: 10px;
         border: 2px ridge skyblue;
         @include bgBaseColorSaturation(40%);
         @include tcBaseColorLuminosity(70%);
         font-size: 1.5em;
         cursor: pointer;
         @media #{$ecran-petit}{
            width: 90%;
            height: 35px;
            margin-top: 5px;
    
          }
      }
   
      

   
   &__zoneScore{
      width: 50%;
      border-radius: 50%;
      @include flexcenter();
      @include bgBaseColorSaturation(15%);
      font-size: 1.5em;
      @include tcBaseColorLuminosity(0%);
      @media #{$ecran-petit}{
         @include flexionCol();
         border-radius: 10px;
         width: 80%;

      }
      .texte{
         margin: 0 10px;
      }
      .score{
         margin: 0 10px;
         font-weight: bolder;
      }
     
   }
   &__zonePartage{
      @include flexcenter();
      width: 50%;
      @media #{$ecran-petit}{
         width: 99%;
   
       }
      button{
         border: 2px ridge skyblue;
         @include bgBaseColorSaturation(40%);
         @include tcBaseColorLuminosity(70%);
         border-radius: 15px;
         width: 70%;
         height: 35px;
         cursor: pointer;
         @media #{$ecran-petit}{
            width: 100%;
            border-radius: 10px;
          }
      }
      form{
         display: none;
      }
   }
}


footer{
   height: 50px;
   width: 100%;
   @include bgBaseColorSaturation(50%);
   @include flexcenter();
   @include tcBaseColorLuminosity(70%);
}