@charset "UTF-8";
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: skyblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 700px;
  padding: 50px;
  padding-bottom: 0%;
  margin: auto;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width : 480px), screen and (max-width : 700px), screen and (min-device-width : 480px), screen and (max-device-width : 700px) {
  main {
    padding: 20px;
  }
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  main {
    padding: 5px;
    height: auto;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*Gérons les h1 h2 et h3*/
}
header h1 {
  font-size: 3em;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #106689;
}
header h2 {
  font-size: 2em;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #1277a0;
}
header h3 {
  font-size: 1em;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #1588b7;
}

section {
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
@media screen and (min-width : 480px), screen and (max-width : 700px), screen and (min-device-width : 480px), screen and (max-device-width : 700px) {
  section {
    padding: 1%;
    height: 65%;
  }
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  section {
    padding: 0;
    height: auto;
  }
}

.appblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: 80%;
  width: 70%;
  min-width: 600px;
  background-color: #104b63;
  padding: 15px;
  color: whitesmoke;
  margin-bottom: 100px;
}
@media screen and (min-width : 480px), screen and (max-width : 700px), screen and (min-device-width : 480px), screen and (max-device-width : 700px) {
  .appblock {
    min-width: auto;
    width: 100%;
    margin: 5px auto;
    padding: 2px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 100px;
  }
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-content: center;
    height: auto;
    padding: 2px;
    margin-bottom: 100px;
  }
}
.appblock__messagedechoix {
  max-width: 80%;
  text-align: center;
  font-size: 1.2em;
  color: whitesmoke;
}
.appblock__zoneBtnRadio {
  background-color: #186c8e;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zoneBtnRadio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 1.5em;
  }
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zoneBtnRadio--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
    width: 50%;
    height: 50px;
  }
}
.appblock__zoneMot {
  width: 90%;
  margin: 5px 2%;
  height: 70px;
  border-radius: 15px;
  font-size: 2em;
  font-weight: bold;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1799ce;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zoneMot {
    /* padding: 5px;*/
    height: auto;
    min-height: 40px;
    width: 100%;
    border-radius: 0%;
    font-size: 1.2em;
    margin: 0%;
  }
}
.appblock__zoneSaisieUtilisateur {
  width: 90%;
  margin: 5px 2%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  color: #1799ce;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zoneSaisieUtilisateur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 50px;
    width: 100%;
    margin: 0%;
    margin-top: 20px;
  }
}
.appblock__zoneSaisieUtilisateur input {
  width: 70%;
  border-radius: 10px;
  border: 2px ridge skyblue;
  background-color: #5bbce4;
  color: #0e5877;
  font-size: 1.3em;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zoneSaisieUtilisateur input {
    width: 98%;
    height: 100px;
    border-radius: 0%;
    margin: 0 0;
    font-size: 1.5em;
  }
}
.appblock__zoneSaisieUtilisateur input::placeholder {
  color: #1277a0;
}
.appblock button {
  width: 25%;
  border-radius: 10px;
  border: 2px ridge skyblue;
  background-color: #186c8e;
  color: #e8f6fc;
  font-size: 1.5em;
  cursor: pointer;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock button {
    width: 100%;
    height: 45px;
    margin-top: 0px;
    border-radius: 0%;
  }
}
.appblock button:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  border: 0px;
  cursor: default;
}
.appblock__zoneScore {
  width: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45b3e0;
  font-size: 1.5em;
  color: #0d5572;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zoneScore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    width: 100%;
    margin-top: 20px;
  }
}
.appblock__zoneScore .texte {
  margin: 0 10px;
}
.appblock__zoneScore .score {
  margin: 0 10px;
  font-weight: bolder;
}
.appblock__zonePartage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zonePartage {
    width: 100%;
  }
}
.appblock__zonePartage button {
  border: 2px ridge skyblue;
  background-color: #186c8e;
  color: #e8f6fc;
  border-radius: 15px;
  width: 70%;
  height: 35px;
  cursor: pointer;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .appblock__zonePartage button {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
}

.overlay {
  display: none;
  animation: fadein 1s linear;
  position: fixed;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.1) 100%);
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay__Close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: color 500ms;
}
.overlay__Close:hover {
  color: #1799ce;
}
.overlay__Content {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  .overlay__Content {
    min-height: 400px;
    width: 98%;
    height: auto;
    padding: 5px;
  }
}
.overlay__Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0%;
  padding: 20px;
}

form {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  background-color: #104b63;
  border-radius: 10px;
  padding: 10px;
}
form:hover {
  box-shadow: 0px -5px 10px 5px inset skyblue;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  form {
    min-height: 380px;
    padding: 2px;
    justify-content: space-between;
  }
}
form div[class^=row] {
  width: calc(100% - 13px);
  min-height: 20%;
}
form .row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
form .row-1 h1 {
  width: 100%;
  text-decoration: underline;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
form .row-1 input {
  width: 50%;
  height: 70%;
  font-size: 1.7em;
  cursor: pointer;
  color: #1277a0;
  background-color: #5bbce4;
  border-radius: 10px;
  border: 3px ridge skyblue;
  transition: all 500ms;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  form .row-1 input {
    font-size: 1.2em;
    width: 80%;
  }
}
form .row-1 input:hover, form .row-1 input:focus {
  border-width: 1px;
  box-shadow: 5px 5px 10px inset white;
  border-radius: 0px 50% 50% 0px;
  color: white;
  background-color: #104b63;
  font-size: 2em;
  background: linear-gradient(to right, rgb(4, 68, 94) 0%, skyblue 90%, whitesmoke 100%);
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  form .row-1 input:hover, form .row-1 input:focus {
    font-size: 1em;
    width: 98%;
  }
}
form .row-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
form .row-2 .col-1 {
  width: 100%;
}
form .row-2 .col-2 {
  min-height: 60%;
  width: 98%;
  margin-bottom: 2%;
}
form .row-2 .col-2 input {
  width: calc(100% - 13px);
  height: 90%;
  border-radius: 15px;
  border: 4px solid skyblue;
  font-size: 1.5em;
  color: #31b3e7;
}
@media screen and (max-width : 480px), screen and (max-device-width : 480px) {
  form .row-2 .col-2 input {
    font-size: 1.2em;
    height: 40px;
  }
}
form .row-2 .col-2 input::placeholder {
  color: #8cd5f2;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #104b63;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8f6fc;
  position: fixed;
  bottom: 0%;
}

/*# sourceMappingURL=style.css.map */
